<div id="page">
  <% if flash[:alert] %>
    <p class="flash-error"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="flash-notice"><%= flash[:error] %></p>
  <% end %>
</div>

